*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 100vh;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.items-end{
    align-items: end;
}
.w-max{
    width: max-content;
}
.notification{
    color:red;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;;
}

.box-container.flex-row{
    gap: 15px;
}
.box-container{
    background-color:rgba(238, 238, 238, 0.533);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.input-group.flex-col{
    gap: 5px;
}
.radio-group {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
}
.button{
    border-radius: 3px;
    padding: 5px;
    border-width: 0px;
    background-color: rgb(43, 43, 255);
    color: white;
    font-size:small;
    font-weight: 700;
    cursor: pointer;
}
.p-sm{
    padding: 5px;
}
.p-md{
    padding: 10px;
}
.p-lg{
    padding: 20px;
}
.input-num{
    padding: 5px;
    
}
label{
    cursor: pointer;
}
.w-full{
    width: 100%;
}
.container{
    background-image: url("/assets/background.jpg");
}